/*	To include the styleheet of David's Resources in your site, add this line to your HTML:	*/
/*<link rel="stylesheet" type="text/css" href="https://goo.gl/EkLTcJ">	*/
/*	+-------------------------------------------------------+	*/
/*	|	See readme for further info on this style	|	*/
/*	+-------------------------------------------------------+	*/
/*	--------	*/
/*    Standard Tags	*/
/*	--------	*/
.html	{
	}
.body	{
	width: 760px;
	display: block;
	margin: auto;
	background-color: #F9DC50;
	box-shadow: 6px 6px 3px #413005;
	}
.header	{
	}
.nav	{
	}
.main	{
	}
.footer	{
	}
/*	--------	*/
/*	  Text		*/
/*	--------	*/
.content{	/*	This class is for the p tags located in the body	*/
	color: #443308;
	text-align: justify;
	}
.title	{	/*	This class is for the h1 tag	*/
	text-align: center;
	color: #AC7E0E;
	text-shadow: 2px 2px 2px #A77810;
	background-color: #443308;
	border-radius: 25px;
	}
.heading{	/*	This class is for the h2 thru h6 tag	*/
	text-align: left;
	color: #C3910C;
	text-shadow: 1px 1px 1px #413005;
	}
.ftext	{	/*	This class is for the p tags located in the footer	*/
	color: #7B5B0E;
	}
